# Occupation

### Introduction:

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [3]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

### Step 3. Assign it to a variable called users.

In [4]:
users = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user", delimiter="|")

### Step 4. Discover what is the mean age per occupation

In [8]:
print(users.groupby("occupation")["age"].mean().round(2).reset_index())

       occupation    age
0   administrator  38.75
1          artist  31.39
2          doctor  43.57
3        educator  42.01
4        engineer  36.39
5   entertainment  29.22
6       executive  38.72
7      healthcare  41.56
8       homemaker  32.57
9          lawyer  36.75
10      librarian  40.00
11      marketing  37.62
12           none  26.56
13          other  34.52
14     programmer  33.12
15        retired  63.07
16       salesman  35.67
17      scientist  35.55
18        student  22.08
19     technician  33.15
20         writer  36.31

### Step 5. Discover the Male ratio per occupation and sort it from the most to the least

In [39]:
male_occupation = users[users["gender"] == "M"].groupby("occupation").size()
total_occupation = users.groupby("occupation").size()
print((male_occupation / total_occupation).round(2).sort_values(ascending=False))

occupation
doctor           1.00
engineer         0.97
technician       0.96
retired          0.93
executive        0.91
programmer       0.91
scientist        0.90
entertainment    0.89
lawyer           0.83
salesman         0.75
educator         0.73
student          0.69
other            0.66
marketing        0.62
writer           0.58
none             0.56
administrator    0.54
artist           0.54
librarian        0.43
healthcare       0.31
homemaker        0.14
dtype: float64

### Step 6. For each occupation, calculate the minimum and maximum ages

In [10]:
print(users.groupby("occupation").agg(["max", "min"]))

              user_id      age     gender     zip_code
                  max  min max min    max min      max    min
occupation
administrator     940    7  70  21      M   F    V1G4L  02154
artist            920   23  48  19      M   F    V5A2B  01945
doctor            935  138  64  28      M   M    97405  47401
educator          937   13  63  23      M   F    M4J2K  01602
engineer          934   25  70  22      M   F    T8H1N  00000
entertainment     926   16  50  15      M   F    V3N4P  01040
executive         901    6  69  22      M   F    L1V3W  00000
healthcare        910   60  62  22      M   F    97232  02154
homemaker         898   20  50  20      M   F    96349  17331
lawyer            846   10  53  21      M   F    90703  06371
librarian         942   19  69  23      M   F    99603  01080
marketing         881   46  55  24      M   F    97215  01913
none              756   57  55  11      M   F    94619  21206
other             936    2  64  13      M   F    V0R2M  02110
programmer        927   17  63  20      M   F    98121  01331
retired           900  106  73  51      M   F    98257  02903
salesman          925  112  66  18      M   F    97408  30011
scientist         930   14  55  23      M   F    T8H1N  02113
student           943    9  42   7      M   F    R3T5K  01002
technician        938    1  55  21      M   F    Y1A6B  02139
writer            911    3  60  18      M   F    E2A4H  08534

### Step 7. For each combination of occupation and gender, calculate the mean age

In [15]:
print(users.groupby(["occupation", "gender"])["age"].mean().round(2).sort_values(ascending=False))

occupation     gender
retired        F         70.00
               M         62.54
healthcare     M         45.40
executive      F         44.00
doctor         M         43.57
educator       M         43.10
administrator  F         40.64
librarian      M         40.00
               F         40.00
healthcare     F         39.82
lawyer         F         39.50
educator       F         39.12
salesman       M         38.56
executive      M         38.17
technician     F         38.00
marketing      M         37.88
writer         F         37.63
marketing      F         37.20
administrator  M         37.16
engineer       M         36.60
none           F         36.50
scientist      M         36.32
lawyer         M         36.20
other          F         35.47
writer         M         35.35
homemaker      F         34.17
other          M         34.03
programmer     M         33.22
technician     M         32.96
artist         M         32.33
programmer     F         32.17
entertainment  F         31.00
artist         F         30.31
engineer       F         29.50
entertainment  M         29.00
scientist      F         28.33
salesman       F         27.00
homemaker      M         23.00
student        M         22.67
               F         20.75
none           M         18.60
Name: age, dtype: float64

### Step 8.  For each occupation present the percentage of women and men

In [29]:
gender_counts = users.groupby("occupation")["gender"].value_counts(normalize=True).unstack() * 100
print(gender_counts.round(2))

gender             F       M
occupation
administrator  45.57   54.43
artist         46.43   53.57
doctor           NaN  100.00
educator       27.37   72.63
engineer        2.99   97.01
entertainment  11.11   88.89
executive       9.38   90.62
healthcare     68.75   31.25
homemaker      85.71   14.29
lawyer         16.67   83.33
librarian      56.86   43.14
marketing      38.46   61.54
none           44.44   55.56
other          34.29   65.71
programmer      9.09   90.91
retired         7.14   92.86
salesman       25.00   75.00
scientist       9.68   90.32
student        30.61   69.39
technician      3.70   96.30
writer         42.22   57.78