# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [ ]:
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", sep = '\t', header = 0)

### Step 4. See the first 10 entries

In [8]:
print(chipo.head(10))

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl
5         3         1                           Chicken Bowl
6         3         1                          Side of Chips
7         4         1                          Steak Burrito
8         4         1                       Steak Soft Tacos
9         5         1                          Steak Burrito

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
5  [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
6                                                NaN     $1.69
7  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75
8  [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25
9  [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25

### Step 5. What is the number of observations in the dataset?

In [ ]:
# Solution 1
print(chipo.shape[0]) # Shape 0 is th number of rows in the dataset

4622

In [ ]:
# Solution 2
print(len(chipo))

4622

### Step 6. What is the number of columns in the dataset?

In [13]:
print(chipo.info())
print(chipo.shape[1])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB
None
5

### Step 7. Print the name of all the columns.

In [14]:
print(chipo.columns)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [ ]:
""" 
The dataset is indexed using a default numerical index. It starts from 0 and goes up to 4621,
corresponding to the number of rows in the dataset (4622 entries). This is a RangeIndex,
which is the default index type in pandas when no specific index is set.
Each row in the dataset is accessed by its position in this range (from 0 to 4621)
"""

### Step 9. Which was the most-ordered item?

In [38]:
most_ordered_item = chipo.groupby('item_name')['quantity'].sum().idxmax()
print(f"The most ordered item is: {most_ordered_item}")

The most ordered item is: Chicken Bowl

### Step 10. For the most-ordered item, how many items were ordered?

In [45]:
items_ordered = chipo.groupby('item_name')['quantity'].sum().max()
print(f"The most ordered item is: {most_ordered_item} with a total quantity of {items_ordered}")

The most ordered item is: Chicken Bowl with a total quantity of 761

### Step 11. What was the most ordered item in the choice_description column?

In [46]:
most_ordered_choice_description = chipo['choice_description'].value_counts().idxmax()
print(f"{most_ordered_choice_description}")

[Diet Coke]

### Step 12. How many items were orderd in total?

In [47]:
print(f"{chipo['quantity'].sum()}")

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [52]:
item_price = chipo['item_price']
print(type(item_price.iloc[0]))

<class 'str'>

#### Step 13.b. Create a lambda function and change the type of item price

In [ ]:
chipo['item_price'] = chipo['item_price'].apply(lambda price: float(price.replace("$", "")))

<class 'numpy.float64'>

#### Step 13.c. Check the item price type

In [60]:
print(type(chipo['item_price'].iloc[0]))

<class 'numpy.float64'>

### Step 14. How much was the revenue for the period in the dataset?

In [8]:
chipo["item_price"] = chipo["item_price"].apply(lambda price: float(price.replace("$", "")))
chipo["revenue"] = chipo["quantity"] * chipo["item_price"]
print(chipo["revenue"].sum())

39237.02

### Step 15. How many orders were made in the period?

In [ ]:
print(chipo.nunique())

### Step 16. What is the average revenue amount per order?

In [12]:
# Solution 1
print(f"The average revenue per order is: ${chipo['revenue'].sum() / chipo['order_id'].nunique():.2f}")

The average revenue per order is: $21.39

In [14]:
# Solution 2
average_revenue_per_order = chipo.groupby('order_id')['revenue'].sum().mean()
print(f"The average revenue per order is: ${average_revenue_per_order:.2f}")

The average revenue per order is: $21.39

### Step 17. How many different items are sold?

In [17]:
print(f"The number of different items sold is: {chipo['item_name'].nunique()}")

The number of different items sold is: 50