# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [3]:
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", delimiter = "\t")

### Step 4. How many products cost more than $10.00?

In [ ]:
prices_converted = chipo["item_price"].str.replace("$", "", regex = False).astype(float)
print((prices_converted > 10.).sum())

1130

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [17]:
print(chipo[["item_name","item_price"]])

                                  item_name item_price
0              Chips and Fresh Tomato Salsa     $2.39
1                                      Izze     $3.39
2                          Nantucket Nectar     $3.39
3     Chips and Tomatillo-Green Chili Salsa     $2.39
4                              Chicken Bowl    $16.98
...                                     ...        ...
4617                          Steak Burrito    $11.75
4618                          Steak Burrito    $11.75
4619                     Chicken Salad Bowl    $11.25
4620                     Chicken Salad Bowl     $8.75
4621                     Chicken Salad Bowl     $8.75

[4622 rows x 2 columns]

### Step 6. Sort by the name of the item

In [19]:
print(chipo.sort_values("item_name"))

      order_id  quantity          item_name  \
3389      1360         2  6 Pack Soft Drink
341        148         1  6 Pack Soft Drink
1849       749         1  6 Pack Soft Drink
1860       754         1  6 Pack Soft Drink
2713      1076         1  6 Pack Soft Drink
...        ...       ...                ...
2384       948         1  Veggie Soft Tacos
781        322         1  Veggie Soft Tacos
2851      1132         1  Veggie Soft Tacos
1699       688         1  Veggie Soft Tacos
1395       567         1  Veggie Soft Tacos

                                     choice_description item_price
3389                                        [Diet Coke]    $12.98
341                                         [Diet Coke]     $6.49
1849                                             [Coke]     $6.49
1860                                        [Diet Coke]     $6.49
2713                                             [Coke]     $6.49
...                                                 ...        ...
2384  [Roasted Chili Corn Salsa, [Fajita Vegetables,...     $8.75
781   [Fresh Tomato Salsa, [Black Beans, Cheese, Sou...     $8.75
2851  [Roasted Chili Corn Salsa (Medium), [Black Bea...     $8.49
1699  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...    $11.25
1395  [Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...     $8.49

[4622 rows x 5 columns]

### Step 7. What was the quantity of the most expensive item ordered?

In [45]:
most_expensive_item = chipo["item_price"].str.replace("$", "", regex = False).astype(float).idxmax()
print(f"The quantity of the most expensive item ordered is {chipo['quantity'].iloc[most_expensive_item]}")

The quantity of the most expensive item ordered is 15

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [53]:
print((chipo["item_name"] == "Veggie Salad Bowl").sum())

18

### Step 9. How many times did someone order more than one Canned Soda?

In [27]:
canned_soda = chipo[(chipo["item_name"] == "Canned Soda")]
print(canned_soda[canned_soda["quantity"] > 1].shape[0])

20